.insight-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 600px;
    background-color: var(--bg-card);
    padding: 2rem;
    margin: 1rem;
    color: var(--txt-primary);
    border-radius: 1rem;
    border: 2px solid var(--border-color-input);
    overflow-y: auto;
    gap: 0.6rem;
}

.insight-title {
    word-wrap: break-word;
    padding-right: 2rem;
}

.insight-card h2 {
    margin: 0;
    font-size: 1.5rem;
}

.insight-tags,
.insight-analysis {
    display: flex;
    gap: 0.5rem;
}

.insight-mood strong {
    margin-right: 0.4rem;
}

.insight-tags {
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    white-space: nowrap;
    padding: 0.5rem;
    border-radius: 0.6rem;
    font-size: 0.9rem;
}

.insight-content {
    margin: 0;
}

.insight-analysis {
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    color: var(--accent-primary);
    font-size: 1.5rem;
}

.insight-analysis strong {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: -0.8rem;
    color: var(--txt-primary);
}

.insight-text {
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    font-style: italic;
}

.insight-analysis svg {
    height: 18px;
    width: 18px;
}

.close-btn {
    position: absolute;
    background: transparent;
    color: var(--txt-secondary) !important;
    top: 2.2rem;
    right: 2rem;
    transition: color 0.3s ease !important;
}

.close-btn:hover {
    color: var(--accent-primary) !important;
}

@media screen and (max-width: 420px) {

    .tag {
        font-size: 0.8rem;
    }
}