.content-card{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 600px;
    max-height: 80vh;
    background-color: var(--bg-card);
    padding: 2rem;
    margin: 1rem;
    color: var(--txt-primary);
    border-radius: 1rem;
    border: 2px solid var(--border-color-input);
    overflow: hidden;
    gap: 0.6rem;
}

.content-title {
    word-wrap: break-word;
    padding-right: 2rem;
    margin: 0;
    font-size: 1.5rem;
}

.content-date {
    margin-top: 0.5rem;
    color: var(--txt-secondary);
    font-size: 0.95rem;
}

.content-body {
    margin-top: -1rem;
    line-height: 1.6rem;
    font-size: 1.1rem;
    word-wrap: break-word;
    overflow-y: auto;
    flex-grow: 1;
    max-height: 60vh;
    padding-right: 0.5rem;
}

.close-btn {
    position: absolute;
    background: transparent;
    color: var(--txt-secondary) !important;
    top: 2.2rem;
    right: 2rem;
    transition: color 0.3s ease !important;
}

.close-btn:hover {
    color: var(--accent-primary) !important;
}