.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--bg-card);
    box-shadow: var(--drop-shadow);
    z-index: 10;
}

.header-content {
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.title,
.nav,
.user-container {
    gap: 10px;
    flex: 1;
    display: flex;
    align-items: center;
}

.title {
    justify-content: flex-start;
}

.nav {
    justify-content: center;
    gap: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: -0.4rem;
}

.user-container {
    justify-content: flex-end;
}

.user {
    cursor: pointer;
    background-color: var(--bg-card);
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.user:hover {
    background-color: var(--accent-secondary);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

.underline {
    height: 2px;
    background-color: var(--accent-primary);
    margin-top: 3px;
    align-self: flex-start;
}

.user-options-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 30px;
    border: 2px solid var(--accent-primary);
    padding: 0.3rem;
    border-radius: 10px;
    background-color: var(--bg-card);
    gap: 0.3rem;
}

.user-options {
    padding: 0.3rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.1s ease;
    border-radius: 5px;
}

.user-options:hover {
    background-color: var(--accent-secondary);
}

.user-options.logout:hover {
    background-color: var(--warning-color);
    color: var(--bg-card);
}

@media screen and (max-width: 800px) {
    .nav-items {
        gap: 1rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 736px) {
    .nav-items {
        font-size: 0.8rem;
    }

    .title h2 {
        display: none;
    }

    .nav {
        flex: auto;
    }
}

@media screen and (max-width: 480px) {
    .header-content {
        padding: 0 10px;
    }

    .nav {
        flex: auto;
        gap: 1rem;
    }

    .user-options-container {
        padding: 0.2rem;
        gap: 0.2rem;
        font-size: 0.9rem;
    }

    .user-options {
        padding: 0.3rem 0.8rem;
    }
}